:root {
    --text-primary: white;
    --text-secondary: black;
    --background-primary: #3d3d41;
    --background-secondary: #99c737;
    --background-canvas: #c1c1c1;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
}

#sidebar {
    width: 300px;
    padding: 10px;

    color: var(--text-primary);
    background: var(--background-primary);
}

#canvasContainer {
    flex:1;
    position: relative;
    background: var(--background-canvas);
}

#coords {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 10px;
    border-radius: 6px;

    color: var(--text-primary);
    background-color: var(--background-primary);
    font-size: 13px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.item {
    padding: 6px;
    cursor: pointer;
    border-radius: 6px;
}

.item.selected {
    color: var(--text-secondary);
    background: var(--background-secondary);
}